.tile {
  padding: 22px;
  height: 87px;

  &.tile-info {
    color: #fff;
    background-color: darken(#428bca, 6.5%);
  }

  &.tile-danger {
    color: #fff;
    background-color: $brand-danger;
  }

  &.tile-success {
    color: #fff;
    background-color: $btn-success-bg;
  }

  .tile-header {
    float: left;
    width: auto;
    margin: 0;

    small {
      display: block;
      font-size: 12px;
      color: #eee;
    }
  }

  .tile-value {
    font-size: 30px;
    width: auto;
    min-width: 80px;
    text-align: center;
    float: right;
    padding: 3px 23px;
    background: rgba(255,255,255,0.2);
  }
}
/*
  TODO. Move to directive style
*/
.jqvmap-label {
  background: #333;
  font-weight: bold;
  padding: 5px;
  color: $brand-warning;

  div {
    color: #fff;
  }
}

.btn-inline-submit {
  float: right;
  margin-top: 23px;
}
