// bower:scss
@import "../vendor/components-font-awesome/scss/font-awesome.scss";
// endbower

// Vendor
@import "vendor/bootstrap/_import";
@import "vendor/ng-loading-bar";
@import "vendor/toastr";
@import "vendor/animate";
@import "vendor/uniform";
@import "vendor/charts";
@import "vendor/daterangepicker";
@import "vendor/vmap";

// Common
@import "fonts";
@import "common";

// States
@import "states/transitions";
@import "states/layout/navbar";
@import "states/security/login";
@import "states/charts/customers-vmap";
@import "states/charts/customers-status";

// Directives
body {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 100px;
  overflow-y: scroll;
}