// Main Content
.content {

  &.ng-enter {
    .ng-enter-fadeInUp {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }
  }

  &.ng-leave {
    .ng-leave-fadeOutDown {
      -webkit-animation-name: fadeOutDown;
      animation-name: fadeOutDown;
    }
  }
}