<div class="row">
    <div class="col-lg-7 col-md-12">
        <div ui-view="signalInfo"></div>
    </div>
    <div class="col-lg-5 col-md-12 signal-list-col">
        <div class="row">
            <div ng-repeat="signal in signals" class="col-md-2 col-sm-4 signal-list-item col-lg-4" ng-click="signalClicked(signal)">
                <article class="signal-list-box statistic-box" ng-class="{ 'dark-blue': selected != signal, 'blue': selected == signal }">
                    <div>
                        <div class="number">
                            <img src="/img/assets/{{ signal.signal.asset.socket_id }}.png" alt="">
                        </div>
                        <div countdown end-time="{{ signal.expires }}" class="signal-countdown"></div>
                        <div class="signal-score" score="{{ signal.signal.score }}"></div>
                        <div class="info hidden-md-down">More Info <span class="fa fa-angle-double-right"></span></div>
                    </div>
                </article>
            </div><!--.col-->
        </div>
    </div>
</div>