.signal-list-box.statistic-box {

  & > div {
    height: 177px;

    .number {
      padding: 12px 0 0;
    }
  }

  .signal-countdown {
    font-weight: 300;
    font-size: 37px;
  }

  .signal-score {
    font-size: 21px;
    letter-spacing: 5px;
    color: #A2CF37;
  }

  .info {
    position: absolute;
    bottom: 5px;
    right: 12px;
    font-size: 15px;
    font-weight: 300;
  }
}