.security-login-page {

  width: 100%;
  max-width: 521px;
  margin: auto;
  font-size: 14px;
  font-weight: 300;
  margin-top: 40px;
  border: 2px solid $btn-primary-bg;

  .panel {
    width: 100%;
  }

  .login-error {
    margin-bottom: 0;
  }

  .panel.panel-custom1 .panel-heading.panel-heading-dark {
    background: $btn-primary-bg;
    color: #fff;
    line-height: 69px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }

  form {
    width: 90%;
    max-width: 307px;
    margin: auto;
    padding: 30px 0;

    .checkbox label {
      padding: 0;
      font-weight: 300;
    }

    .btn.btn-login {
      font-size: 18px;
      width: 100%;
      border-radius: 0;
    }

    .forgot-pwd-btn {
      line-height: 37px;
    }
  }

  .login-footer {
    line-height: 38px;
    border-top: 1px solid rgba(0,0,0,0.2);
    width: 70%;
    margin: auto;
  }
}