.signals-list {
  text-align: center;

  .signals-row {
    @extend .row;
    margin: 0 0 24px 0;
    float: left;
    width: 100%;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.3);

    .signal-info {
      position: relative;

      .rate-box {
        font-size: 22px;
        position: absolute;
        right: 0;
        top: 10px;
        width: 130px;
        margin: auto;
        color: #fff;

        &.down {
          background: red;
        }

        &.up {
          background: green;
        }
      }

      .asset-buy {
        float: left;
        width: 100%;
        background: #E7EBF6;

        .input-group {
          max-width: 110px;
          line-height: 140px;
          margin-top: 16px;
          margin-left: 19px;
        }

        input {
          text-align: center;
          margin: auto;
          float: right;
        }

        button {
          margin: 17px 0;
        }

        .slider-selection {
          background: rgb(47, 121, 184);
        }

        .slider-track-high {
          background: #fff;
        }
      }
      .asset-table {

        .info-row {

          padding: 0;

          .info-header {
            background: #9FB5DA;
            border: 1px solid #fff;
            font-size: 20px;
            font-weight: 500;
            line-height: 36px;

          }

          .info-value {
            position: relative;
            border: 1px solid #fff;
            background: #CDD7EA;
            line-height: 80px;
            height: 80px;

            &.info-value-asset {
              line-height: 38px;
            }

            &.info-value-rate {
              font-size: 38px;

              &.up {
                color: green;
              }

              &.down {
                color: red;
              }
            }

            &.info-value-expires {
              font-size: 22px;
            }

            &.info-value-direction {

              .direction-container {
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                max-width: 160px;
                margin: auto;

                .direction-text {
                  font-size: 30px;
                  display: block;
                  width: 50%;
                  float: left;
                }

                .direction-caret {
                  font-size: 89px;
                  padding-top: 0;
                  display: block;
                  line-height: 73px;
                  color: green;
                  width: 100%;
                  max-width: 50px;
                  float: left;
                  margin-top: 16px;
                }
              }
            }
          }
        }
      }
    }

    .signals-box-container {
      @extend .col-sm-3;
      height: 68px;
      padding: 0 2px 0 0;

      &.last-box {
        padding: 0;
      }

      .signals-box {
        background: #E7EBF6;
        color: #000;
        line-height: 21px;
        height: 100%;
        padding-top: 13px;

        .btn {
          width: 50%;
          font-size: 18px;
        }

        .score-value {
          color: $brand-success
        }

        &.expires-box {
          padding-top: 7px;

          .expires-text {
            line-height: 30px
          }

          .expires-value {
            font-weight: 400;
            font-size: 23px;
          }
        }

        &.score-box {
          padding-top: 7px;

          .score-text {
            line-height: 30px;
          }

          .score-value {
            font-size: 22px;
          }
        }

        &.asset-box {
          padding-top: 17px;

          .asset-title {
            text-align: center;
            padding-right: 58px;
          }

          .asset-logo {
            text-align: right;
          }

          img {
            line-height: 61px;
          }

          span {
            font-size: 19px;
            padding-left: 10px;
            line-height: 44px;
          }
        }
      }
    }

    .signals-dropdown {
      float: left;
      width: 100%;
      background: #D2DEF0;
      cursor: pointer;
    }
  }
}
