<div class="trades-history-container">
    <table st-table="rowCollection" class="table table-bordered">
        <thead>
        <tr>
            <th>Asset</th>
            <th>Direction</th>
            <th>Invested</th>
            <th>Payout</th>
            <th>Buying Time</th>
            <th>Expiry Time</th>
            <th>Buying Rate</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
            <td>
                <img src="/img/assets/{{ row.merchant_signal.signal.asset.socket_id }}.png" alt="">
                {{ row.merchant_signal.signal.asset.title | uppercase }}
            </td>
            <td>
                <span ng-show="row.merchant_signal.signal.direction">
                    <img src="/img/call2.png" alt="">
                </span>
                <span ng-show=" ! row.merchant_signal.signal.direction">
                    <img src="/img/put2.png" alt="">
                </span>
            </td>
            <td>${{ row.amount }}</td>
            <td>
                <span ng-if="row.trade_status.id == 2">${{ 100 / row.profit * row.amount | number: 1 }}</span>
                <span ng-if="row.trade_status.id == 3">$0</span>
            </td>
            <td>{{ row.buy_date | date: 'medium' }}</td>
            <td>{{ row.expiry_date | date: 'medium' }}</td>
            <td>{{ row.entry_rate }}</td>
            <td>{{ row.trade_status.title }}</td>
        </tr>
        </tbody>
    </table>
</div>