.system-statistics {

  .chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 10px 0;
    text-align: center;
  }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
  }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }

  .statistics-box {
    text-align: center;
    margin-top: 20px;

    .statistics-amount {
      text-align: center;
      font-size: 40px;
      line-height: 70px;
    }
  }
}