<div class="header-container">
    <div class="upper-header-container">
        <img class="logo" src="/img/logo.png" alt="Trading Signals - Your chance of winning">
    </div>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar2" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: $state.includes('app.dashboard') }">
                        <a ui-sref="app.dashboard" class="active">Dashboard</a>
                    </li>
                    <li class="dropdown" ng-class="{ active: $state.includes('app.signals') }">
                        <a class="dropdown-toggle" data-toggle="dropdown" >Signals</a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="app.signals.live">Live Signals</a></li>
                            <li><a ui-sref="app.signals.history">Signals History</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-class="{ active: $state.includes('app.trades') }">
                        <a class="dropdown-toggle" data-toggle="dropdown">My Trades</a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="app.trades.open">Open Trades</a></li>
                            <li><a ui-sref="app.trades.history">Trading History</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-class="{ active: $state.includes('app.support') }">
                        <a class="dropdown-toggle" data-toggle="dropdown">Support</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Tutorials</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>
