<div ng-if="signal">
    <div class="chart-statistic-box signal-chart-box">
        <div class="chart-txt">
            <div class="chart-txt-top">
                <span>
                    <img src="/img/assets/{{ signal.signal.asset.socket_id }}.png" alt="">
                </span>
                <span class="caption">
                    {{ signal.signal.asset.title }}
                </span>
            </div>
            <div class="chart-info current-rate">
                <div class="chart-info-header">
                    Current Rate
                </div>
                <div class="chart-info-value">
                    <span ng-show="signal.currentRate">
                        {{ signal.currentRate }}
                    </span>
                    <span ng-show=" ! signal.currentRate">
                        Loading ..
                    </span>
                </div>
            </div>
            <div class="chart-info direction">
                <div class="chart-info-header">
                    Direction
                </div>
                <div class="chart-info-value">
                    <div class="direction-txt">Call</div>
                    <div class="direction-avatar">
                        <img src="/img/call.png" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="chart-info signal-rate-range">
                <div class="chart-info-header">
                    Signal Rate Range
                </div>
                <div class="chart-info-value">
                    <div class="signal-range">
                        <div class="signal-range-txt">HIGH</div>
                        <div class="signal-range-value">4.121</div>
                    </div>
                    <div class="signal-range">
                        <div class="signal-range-txt">LOW</div>
                        <div class="signal-range-value">4.02</div>
                    </div>
                </div>
            </div>
            <div class="chart-info expires">
                <div class="chart-info-header">
                    Option Expiry Time
                </div>
                <div class="chart-info-value">
                    May 30, 2016 03:00:00 PM
                </div>
            </div>
            <button class="btn btn-green signal-order-btn" ng-click="openBuyOrder()">
                Buying Order <span class="fa fa-angle-double-right"></span>
            </button>
        </div>
        <div class="chart-container">
            <div class="chart-container-in">
                <candle-stick id="chart_div" cs-data="signal.chartData"></candle-stick>
                <div class="buying-order-mask fadeInLeft animated" style="display: none">
                    <div class="buying-order-box">
                        <div class="slider">
                            <span>Select Investment Amount</span>
                            <slider ng-model="buyOptions.amount" options="sliderOptions"></slider>
                        </div>
                        <div class="investment text-center">
                            <div class="pull-left">
                                Investment: <br>
                                <span class="investment-number">${{ buyOptions.amount }}</span>
                            </div>
                            <div class="pull-right">
                                Potential Profit: <br>
                                <span class="profit-number">${{ buyOptions.amount / 100 * 83 | number: 2 }}</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-default" ng-click="closeBuyOrder()">Cancel</button>
                        <button class="btn btn-green" ng-click="buySignal()">Confirm</button>
                    </div>
                </div>
            </div>

        </div>
    </div><!--.chart-statistic-box-->
</div>
