<div class="container ng-enter-fadeInUp">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">Conversion <small>Traffic Conversion Breakdown</small></h2>
        </div>
        <div class="clearfix"></div>
        <form ng-submit="filterSubmitClicked()">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="source">Source</label>
                    <select name="source" class="form-control" id="source" ng-model="filters.source">
                        <option value="0" selected="selected">All</option>
                        <option ng-repeat="source in sources" value="{{source}}">{{source}}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="range">Date Range</label>
                    <input id="range" options="datePicker.options" date-range-picker class="form-control date-picker" type="text" ng-model="filters.dateRange" />
                </div>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-inline-submit">Submit</button>
            </div>
        </form>
        <div class="clearfix"></div>
        <div class="col-xs-12">
            <div ui-view="customerTile"></div>

        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-xs-12">
            <h4 class="page-header">Traffic Chart</h4>
            <div ui-view="customerStatusChart"></div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="col-xs-12">
            <h4 class="page-header">GEO Location</h4>
            <div ui-view="customerVmap"></div>
        </div>
    </div>
</div>